.snippet-popup {
	background-color: #eee;
	position: fixed;
	width: 80%;
	text-align: left;
	top: 25%;
	left: 50%;
	padding: 20px;
	transform: translate(-50%, 0);
	min-height: 415px;
	outline: 1px solid #06527b;
    outline-offset: -8px;
    max-height:400px;
    display:none;
}

.snippet-title {
	height:30px; 
	width:100%;
	background-color: #eee;
}

.snippet-close {
	width:40px;
	height:40px;
	position: absolute;
	top: 5px;
	right: -5px;
	color:#06527b;
}

.snippet-image {
	opacity: 0.1;
	width: 400px;
	height: 400px;
}

.snippet-card {
	position: relative;
	display: inline-block;
	border-radius: 5px 10px 15px 15px;
	width: 285px;
	padding: 5px;
	overflow: hidden;
	cursor: pointer;
	text-align: left;
	height: 50px;
	margin-bottom: 5px;
	vertical-align: top;
	border: 1px solid #eee;
}

.snippet-svg-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 120%;
	z-index: -1;
}

.snippet-blob {
	transform: translate(23%, 0%) scale(0.65);
	fill: #fff;
	transition: 0.8s;
}

.snippet-card.active .blob {
	fill: rgb(70, 150, 230);
	transform: translate(23%, 0%) scale(10);
}

.snippet-card.active .bg-overlay {
	opacity: 0;
}

.snippet-circular-border {
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: relative;
}

.snippet-card>p {
	opacity: 0.5;
	transition: 0.8s;
}

.snippet-card.active p {
	opacity: 1;
}

.snippet-text {
	float:right;
	width: 230px;
	padding: 8px 5px 5px 5px;
}

.snippet-graphic {
	margin-left: 2px; 
	margin-top: 2px;
	width: 30px;
}