body {
	margin: 0;
	font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

@media (min-width: 768px)
.container {
    width: 750px;
}

.bannerImage {
	background-image: url("#{resource['images/background4.png']}");
	height:247px;
	width:100%;
	box-shadow: 0 10px 10px -10px;
}

.bannerImageSlice {
	background-image: url("#{resource['images/background_strip.png']}");
	height:62px;
	width:100%;
	box-shadow: 0 10px 10px -10px;
}

.article-header-box-container {
    width:90%;	
	margin:10px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 5px 5px -5px;
}

.article-header-box {
	width:100%;
	height:65px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-width:2px;
	border-bottom-color:black;
	border-bottom-style: solid;
	background: linear-gradient(90deg, #06527b 40%, #2599e1 100%);
}

.article-header-box-subtitle {
	background: white;
	width:100%;
	height:65px
}

.article-container {
	vertical-align: top; 
	display: inline-block;
	margin-bottom:20px;
}

.article-content-box {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 10px 10px -5px;
	margin-top:10px;
	margin-bottom:10px;	
}

.h2-padding {
	padding-top:15px;
	padding-left:10px	
}

.header-spacer {
	width:100%;
	height:20px;
	background-color:#4796e6;
	margin-bottom:30px	
}

.featuredArticleBackground {
	background-image: url("#{resource['images/bgtrans.png']}");
	border-radius: 40px;
	padding:15px;
	margin-top:30px;
	opacity: 1.6;	
}

.section-container {
	background-image: url("#{resource['images/bgtrans.png']}");
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	margin-right: auto;
    margin-left: auto;
    padding:5px 15px 5px;
    width:90%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbarText {
	color:#fff;
	padding:20px;
	padding-top:20px;
}

a.navbarText:hover {
	color:yellow;
	text-decoration: none;	
}

.navbarText {
	color:#fff;
	padding:20px;
	padding-top:20px;
}

a.navbarText:hover {
	color:yellow;
	text-decoration: none;	
}

h2,.h2 {
	margin-top: 5px;
}
		
.customNavbar {
	background-image: radial-gradient(ellipse at bottom, #73aad6, #003962, #000);
	background-color:#20507E;	
	box-shadow: 0 10px 10px -5px;
	height:50px;
	width:100%;
	border:0px;
	position:fixed;
	z-index:1000;
}

.footerBg {
	background-color:#20507E;
	width:100%;
	height:125px;
	color:#fff;
	background-image: url("#{resource['images/background_small.png']}");
}

* { box-sizing: border-box;}

.card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 285px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    margin-bottom:5px;
}
.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -1;
}
.blob {
    transform: translate(23%,3%) scale(0.65);
    fill: #eee;
    transition: 0.4s;
}

.card.active .blob {
    fill: rgb(70,150,230);
    transform: translate(23%,3%) scale(10);
}

.card.active .bg-overlay {
    opacity: 0;
}

.circular-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

i {
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #20507E;
    text-decoration: none;
}

.card > p {
    opacity: 0.5;
    transition: 0.4s;
}

.card.active p {
    opacity: 1;
}

			
.btn-grad {
    margin: 10px;
    padding: 8px;
    text-align: center;
    /*text-transform: uppercase;*/
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /*text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-style {
	width:180px;
	height:35px;
	margin-top:10px;
	background-image: linear-gradient(to right, #08527b 0%, #2597de  51%, #08527b  100%);
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.tags-container {
	margin-right: auto;
    margin-left: auto;
    padding:5px 15px 5px;
    width:90%;
}

.tag {
	background-color: #73aad6;
	display: inline-block;
	padding-left:20px;
	padding-right:20px;
	margin-right:10px;
	float:left;
	border-radius: 20px;
	box-shadow: 0 10px 10px -5px;
	margin-top:10px;
}
