body {
	margin: 0;
	#background-image: radial-gradient(circle, #73aad6, #003962, #000);
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px)
.container {
    width: 750px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbarText {
	color:#fff;
	padding:20px;
	padding-top:20px;
}

a.navbarText:hover {
	color:yellow;
	text-decoration: none;	
}

.navbarText {
	color:#fff;
	padding:20px;
	padding-top:20px;
}

a.navbarText:hover {
	color:yellow;
	text-decoration: none;	
}

.customNavbar {
	#background-image: radial-gradient(ellipse at bottom, #73aad6, #003962, #000);
	background-color:#20507E;	
	box-shadow: 0 10px 10px -5px;
	height:50px;
	width:100%;
	border:0px;
<<<<<<< HEAD
	position:fixed;
	z-index:1000;
=======
	position:fixed;		
>>>>>>> branch 'master' of https://github.com/webweaves/ChristianWeaves.com.git
}

.footerBg {
	background-color:#20507E;
	#background-image: radial-gradient(ellipse at bottom, #73aad6, #003962, #000);	
}

* { box-sizing: border-box;}

.card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
}
.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -1;
}
.blob {
    transform: translate(23%,3%) scale(0.65);
    fill: rgb(225,225,225);
    transition: 0.4s;
}
.card.active .blob {
    fill: rgb(70,150,230);
    transform: translate(23%,3%) scale(10);
}
.card.active .bg-overlay {
    opacity: 0;
}

.circular-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

i {
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #20507E;
    text-decoration: none;
}

.card > p {
    opacity: 0.5;
    transition: 0.4s;
}

.card.active p {
    opacity: 1;
}